# the venv in the base spafit is a superset of all the others for this OS
#
PyQt5
cryptography
py2app; sys_platform == 'darwin'
py2exe; sys_platform == 'win32'
pynsist; sys_platform == 'win32'
osnap; sys_platform == 'win32' or sys_platform == 'darwin'
cx_Freeze
Nuitka
